argparse
dill
fire
matplotlib
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
git+https://github.com/ppwwyyxx/tensorpack.git
flask
pandas
tensorflow==1.15
opencv-python==4.1.0.25
protobuf==3.20.3